@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap");

#root {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

body {
  background: #deedff;
  font-family: "Roboto Mono", monospace;
}


